body{
    background-color: cadetblue;
}
h1.header{
    color: orange;
    font-weight: bold;
    text-align: center;
    background-color: black;
    font-family: 'Dongle', sans-serif;
}
h1.porteros{
    color: orange;
    font-weight: bold;
    background-color: black;
    font-family: 'Dongle',sans-serif;
    width:fit-content;
    height: fit-content;
    font-family: 'Dongle', sans-serif;
}
h1.defensas{
    color: orange;
    font-weight: bold;
    background-color: black;
    font-family: 'Dongle',sans-serif;
    width:fit-content;
    height: fit-content;
    font-family: 'Dongle', sans-serif;
}
h1.centrocampistas{
    color: orange;
    font-weight: bold;
    background-color: black;
    font-family: 'Dongle',sans-serif;
    width:fit-content;
    height: fit-content;
    font-family: 'Dongle', sans-serif;
}
h1.delanteros{
    color: orange;
    font-weight: bold;
    background-color: black;
    font-family: 'Dongle',sans-serif;
    width:fit-content;
    height: fit-content;
    font-family: 'Dongle', sans-serif;
}
section.porteros{
    border:darkgreen;
}